
.App {
  padding: 0px;
  min-height: 100vh; 
  background-image: linear-gradient(to right, rgb(129, 48, 109), rgb(17, 151, 241));
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, rgb(129, 48, 109), rgb(17, 151, 241));
  color: white;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navbar-image {
  width: 80px; 
  height: auto;
  margin-right: 10px;
}

.navbar-text {
  font-size: 1.5rem; 
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #555;
}

.badge {
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  margin-left: 5px;
}


.home {
  padding: 10px;
  background-image: linear-gradient(to right, rgb(129, 48, 109), rgb(17, 151, 241));
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* Ajusta el ancho mínimo y máximo */
  gap: 50px;
}

.product {
  border: 3px solid #d3d3d3;
  border-style:double;
  padding: 10px;
  border-radius: 20px;
  text-align: center; 
}


.product img {
  max-width: 100%; 
  height:auto;
  border-radius: 5px;
}

.product h3 {
  font-size:medium;
  margin: 10px 0;
  color: white;
}

.product p {
  font-size: 2rem;
  color: #ffffff;
}

.product a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #ffffff;
}

.product a:hover {
  text-decoration: underline;
}

.product button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product button:hover {
  background-color: #218838;
}



.search {
  text-align: center;
  margin-top: 20px;
}

.search input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search button:hover {
  background-color: #0056b3;
}

.content {
  margin-top: 20px;
}



.cart {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 400px; 
  margin: 0 auto; 
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cart p {
  margin-bottom: 10px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart ul li p {
  margin: 0;
}

.cart ul li div {
  margin-top: 10px;
}

.cart button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.cart button:hover {
  background-color: #0056b3;
}

.purchase-confirmation {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px; 
  margin: 0 auto; 
}

.purchase-confirmation h2 {
  color: #333;
  margin-bottom: 10px;
}

.purchase-confirmation p {
  color: #666;
  margin-bottom: 20px;
}

.purchase-confirmation button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purchase-confirmation button:hover {
  background-color: #0056b3;
}
